# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase key (evita vazar dados sensíveis)
config/firebase-key.json
config/apae-eventos-firebase-adminsdk-fbsvc-1307679f73.json

# Coverage & Test Reports
coverage/
*.lcov
.nyc_output
reports/

# Stryker Mutator
.stryker-tmp
stryker-tmp/
